/*Aside*/

/*      header       */

aside {
  width: 23rem;
  min-height: 100vh;
  height: auto;
  background-color: var(--aside-color);
  color: var(--aside-fonts-color);
}

.header-aside {
  width: 88%;
  border-bottom: var(--aside-line) var(--lightness);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-aside .fa-tooth {
  font-size: 4rem;
  color: var(--icon-alpha-color);
  transform: rotate(-10deg);
}

.header-aside h2 {
  width: min-content;
  padding-left: 1rem;
}


/*      List 1      */

.menu-aside {
  width: 88%;
  border-bottom: var(--aside-line) var(--lightness);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

.menu-aside li {
  cursor: pointer;
}

.menu-aside .fa-bars {
  font-size: 1.8rem;
  color: var(--icon-alpha-color);
}

.menu-aside a {
  font-size: 1.8rem;
  padding-left: 1rem;
  font-weight: bolder;
  color: var(--aside-fonts-color);
}

/*      List 2      */

aside h5 {
  align-self: flex-start;
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  color: var(--icon-alpha-color);
}

.gestion-aside {
  padding-bottom: 1rem;
  border-bottom: var(--aside-line) var(--lightness);
  width: 88%;
}

.gestion-aside li>div {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  justify-content: space-between;
  padding-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.gestion-aside li>div>div>p {
  padding-left: 1rem;
}

.gestion-aside .fa-user-doctor,
.gestion-aside .fa-user {
  color: var(--icon-alpha-color);
}

/*            Sub menu            */

.dropdown-menu{
  background-color: var(--aside-fonts-color);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.dropdown-menu li{
  height: 5rem;
  align-items: center;
}

.dropdown-menu a{
  font-size: 1.2rem;
  color: var(--dark-shadow);
  display: block;
  padding: 1rem 0.5rem;
  width: 100%;
  border-radius: 1rem;
}

.dropdown-menu a:visited {
    color: var(--dark-shadow);
}

.dropdown-menu a:hover{
  background-color: var(--light-shadow-s);
}



/*      Aside Button      */

.aside-button {
  padding-top: 3rem;
}

.aside-button button {
  border: none;
  background: none;
  color: var(--icon-alpha-color);
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  cursor: pointer;
}

.aside-button button:hover {
  background-color: var(--lightness);
}

.aside-button .fa-chevron-left {
  font-size: 6rem;
}




/*Header*/

.header-main {
  flex-grow: 2;
}

header {
  height: 7.3rem;
  box-shadow: 0.3rem 0 0.5rem var(--light-shadow);
}

header a {
    color: black;
    margin-right: 1rem;
}

/*      Nav Bar     */

.nav-bar {
  justify-content: flex-end;
  align-items: center;
  height: inherit;
  padding: 1rem 3rem 1rem 1rem;
}

.nav-bar picture {
  align-items: inherit;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 4rem;
  background: var(--light-shadow);
}

.nav-bar img {
  width: 4.5rem;
}

.nav-bar p {
  font-size: 1.4rem;
  padding-right: 2rem;
}





/*Main*/

main {
  height: 100%;
  background: linear-gradient(var(--light-shadow),
      var(--aside-fonts-color),
      var(--aside-fonts-color),
      var(--aside-fonts-color));
}

main>div {
  height: fit-content;
}


/*Footer*/

footer {
  background-color: var(--aside-fonts-color);
  color: black;
  font-size: 1.4rem;
  padding: 1rem 0;
  height: auto;
}