h1 {
    padding-top: 2rem;
    font-size: 3rem;
}

.main-container > section > div > a, p > a {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    color: var(--aside-color);
}

.main-container > section > div > p > a:visited {
    color: var(--aside-color);
}

.main-container a:hover {
    text-shadow: 0 0 2rem blue;
}

p {
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

#main {
    width: 100vw;
    height: 100vh;
    background-color: var(--aside-color);
}

.main-container {
    height: 80%;
    background-color: var(--aside-fonts-color);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem var(--shadow);
}

picture {
    width: 25rem;
    overflow: hidden;
    height: 100%;
}

picture img {
    height: 100%;
    margin-right: 6rem;
}

.main-container > section {
    width: 40rem;
    padding: 3rem 2rem 4rem 2rem;
}

form {
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
}

input {
    width: 100%;
    height: 4rem;
    margin: 1rem 0;
    font-size: 2rem;
    padding: 0 4rem 0 1rem;
    border: solid 0.1rem;
    border-radius: 2rem;
}

#btn-submit {
    width: 70%;
    cursor: pointer;
    background-color: var(--border-color-blue);
    color: var(--aside-fonts-color);
    border: solid 0.1rem black;
    height: 4rem;
    margin: 0.5rem 0;
    font-size: 2rem;
    padding: 0 1rem;
    border: solid 0.1rem;
    border-radius: 2rem;
}

#btn-submit:hover {
    text-shadow: 0 0 1rem white;
}

.fas {
    position: relative;
    top: -47%;
    left: 45%;
    font-size: 2rem;
    color: var(--dark-shadow);
    cursor: pointer;
}
